.App {
	text-align: center;
}

.brand {
	font-family: 'Gochi Hand', cursive;
}

.styled {
	margin-top: 6%;
	color: lightslategrey;
	/* text-decoration: none; */
}

.styled:hover {
	color: black;
	text-decoration: none;
}

.formStyle {
	margin: 10px;
}
